
<div class="row mb-4 project">
  <div class="col-md-5">
    {{#if logged_in}}
    <h1>logged in</h1>
    <a href="/exercises">Exercise</a>
    <a href="/meals">Meals</a>
    <a href="/sleeps">Sleep</a>
    {{else}}
    <h1>
      Welcome to the fitness tracker app
    </h1>
    <P>
      Please login or sign up in the top right corner
    </P>
    {{/if}}
  </div>
  <script src="./js/homepage.js"></script>

